body{
    font: normal 15pt arial;
    background: rgb(169, 169, 253);
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    margin: auto;
    border-radius: 20px;
    width: 500px;
    padding: 10px;
    box-shadow: 10pt 10pt 10pt rgba(0, 0, 0, 0.438);
}
footer{
    color: white;
    text-align: center;
}